/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: #000000;
$green: #00f801;
$green-dark: #4e9a06;
$green-yellow: #62dc34;
$yellow: #f3de33;
$red: #cc0000;
$teal: #33debf;

$white: #f4f4f4;
$gray: #dedede;

